.tableWrapper{
    width:100%;
    border-bottom: 2px solid var(--btn-bg);
    padding-bottom:20px;
}
.tableHeading{
    width:100%;
    text-align:center;
    color:#000;
    text-transform:uppercase;
}
.dataCategories{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2%;
    position:relative;
    padding:5px;
}
.pageSizeForm{
    position: absolute;
    right:0;
    display: flex;
    gap:5px;
    align-items: center;
}
.pageSizeForm input{
    width:60px;
    color:var(--btn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    border:1px solid #ccc;
}
.pageSizeForm label{
    color:var(--btn-bg);
    font-weight: bolder;
}
.categoryOption{
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:center;
    gap:5px;
}
.categoryOption label{
    color:#333;
    font-weight:bolder;
}

/* Table grid */
.tableGrid{
    width:100%;
    display: grid;
    overflow: auto;
}

/* Pages */
.pagesField{
    display:flex;
    margin:5px auto;
    width:100%;
    overflow: auto;
    padding:5px;
}

/* Form fields */
.searchFormField{
    position:relative;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 0px;
}
.searchFormField input{
    color:#000;
    font-size:1.2em;
    font-weight:bolder;
    padding:5px 10px;
    border-radius: 10px;
    border:1px solid var(--btn-bg);
    width:500px;
}

/* Select columns */
.selectColumnsOptions{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    right:0px;
    width:300px;
}
.toggleColumnsOptions{
    color:#fff;
    background-color: var(--btn-bg);
    border:1px solid var(--btn-bg);
    padding:5px 10px;
    font-size:1em;
    font-weight:bolder;
    border-radius: 5px;
}
.toggleColumnsOptions:hover{
    background-color: var(--btn-bg-hovered);
    border:1px solid var(--btn-bg-hovered);
}
.columnsOptions{
    position:absolute;
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: #fff;
    z-index:20;
    top:100%;
    width:100%;
    max-height:300px;
    overflow: auto;
    border:1px solid var(--btn-bg-hovered);
}
.columnOption{
    display: flex;
    width:100%;
    align-items: center;
    padding:5px;
    border-top:1px solid #777;
    border-top:1px solid #777;
}
.columnOption label{
    flex: 5;
    flex-grow:1;
    font-weight: bolder;
    color:#000;
    text-transform: capitalize;
}
.columnOption input{
    flex:1;
}

.recordModal{
    position:fixed;
    z-index:50;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
}
.modalContent{
    position:relative;
    background-color: #fff;
    max-width:900px;
    border-radius:10px;
    padding:15px;
    overflow:auto;
}
.closeBtn{
    position:absolute;
    top:15px;
    right:15px;
    background-color: #fff;
    color:darkred;
    font-weight:bolder;
    font-size:1.4em;
    padding:1px 8px;
    border:1px solid darkred;
    border-radius: 8px;
    cursor: pointer;
}
.modalContent h1{
    color:#000;
    text-transform: capitalize;
    text-align: center;
}
.modalContent h2{
    color:#000;
    text-transform: capitalize;
    text-align: center;
}
.removeEntryBtn{
    color:darkred;
    background-color: #fff;
    border:1px solid darkred;
    font-size:1.2em;
    font-weight:bolder;
    padding:5px 10px;
    border-radius: 10px;
    transition:0.4s all;
    margin-bottom:15px;
}
.removeEntryBtn:hover{
    background-color: darkred;
    color:#fff;
}
.detailsGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}
.detailFields{
    display:flex;
    gap:10px;
}
.detailFields p{
    font-size:1.2em;
}
.detailFields p span{
    font-weight:bolder;
    color:#000;
    text-transform: capitalize;
}
.detailFields p{
    color:#000;
}

@media only screen and (max-width:600px){
    .searchFormField input{
        width:100%;
    }
    .detailsGrid{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:900px){
    .detailsGrid{
        grid-template-columns: 1fr;
    }
    .modalContent{
        width:100%;
    }
}
